<form action="createuser" method="post">
  <h2>
    <div class="content">
      Create An Account.
    </div>
  </h2>
  <div class="field">
    <div class="ui left icon input">
      <i class="user icon"></i>
      <input type="text" name="name" placeholder="Full Name">
    </div>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <i class="user icon"></i>
      <input type="text" name="email" placeholder="E-mail address">
    </div>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <input type="password" name="password" placeholder="Password">
    </div>
  </div>
  <input type="submit" value="Continue"></input>
  </div>
</form>
<div class="ui message">
  Already Have an Account? <a href="/login">Login</a>
</div>
