<h1> Battle! </h1>
<div id="battle_info">

</div>

<div>
  <h2> Options </h2>
  <button onclick="playerAttack()">Attack</button>
</div>

<div id="battle_msg">

</div>

<div>
  Go home
  <a href="/">Home</a>
</dvi>
