<script>
  var player_data = JSON.parse(decodeURI("{{playerData}}"));
</script>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="userlogout" method="post">
  <input type="submit" value="Logout"></input>
</form>

<div>
  <h2> Find a battle! </h2>
  Find a monster for your hero to fight!
  <a href='/battle'>Find a battle!</a>
</div>

<div>
  <h2> Create a Hero </h2>
  If you don't already have a hero, create one here!
  <a href="/createplayer">Create Hero</a>
</div>
