<script>
  var dataObject = JSON.parse(decodeURI("{{playerData}}"));
</script>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="temp">loolo</div>
<button onclick="sendTestData()">test me!</button>

<form action="userlogout" method="post">
  <input type="submit" value="Logout"></input>
</form>

<form id="hidden_form" action="testupdate" method="post">
  <div class="field">
    <input id="hidden_field" type="hidden" name="key" value="">
  </div>
</form>

<div>
  <h2> Create a Hero </h2>
  If you don't already have a hero, create one here!
  <a href="/createplayer">Create Hero</a>
</div>
