<h1> Create a Hero </h1>
<div>
  <form id="create_player_form" action="createplayer" method="post">
      Hero Name  <br>
      <input id="player_name" type="text" name="heroName" value="Name">
      <input id="hidden_field" type="hidden" name="player_data">
  </form>
  <button onclick="createPlayer()">Create</button>
</div>
